/* eslint-disable */

export interface Element {
  Value: Array<any>;
  vr: string;
}

/**
 * Describes a DICOM dataset with fields based on the DICOM tag presented as an
 * hexadecimal 8 characters string (ex.: 00100010)
 */
export interface DICOMWebResponse {
  // Mandatory field described by the DICOMWeb standard
  link: string;
{{~ it.elements :element}}
  // {{=element.prettyName }}
  '{{=element.tag.toLowerCase()}}': Element | undefined;{{~}}}
